.SingleNewsPage_main {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  padding: 3rem 0;
  gap: 2rem;
}

.SingleNewsPage_main_side2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.singlenewpage_search_icon {
  background: var(--color-blue-shade1);
  /* position: relative; */
  /* right: 40px; */
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 1px;
  color: var(--color-white);
  width: 60px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  justify-content: center;
}

.singlenewpage_search_main {
  background-color: var(--color-gray-shade);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
}

.singlenews_category_main {
  background-color: var(--color-gray-shade);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.singlenews_category_inner {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.singlenews_IoIosArrowForward_icon {
  display: flex;
  align-items: center;
  color: var(--color-dark-indianred);
}

.singlenews_social_main {
  background-color: var(--color-gray-shade);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  gap: 0.8rem;
}

.singlenews_social_inner {
  background-color: gray;
  padding: 0.8rem;
  border-radius: 5px;
  display: flex;
  color: var(--color-white);
  transition: all ease-in-out 0.2s;
}

.singlenews_social_inner:hover {
  background: var(--color-blue-shade1);
  cursor: pointer;
}
