.WeeklyReviewHome_main_outer {
  background-color: #f5dddf;
}

.WeeklyReviewHome_main {
  /* margin: 0 auto; */
  /* max-width: 1140px; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 1rem;
}

.WeeklyReviewHome_dtandtime {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: var(--color-gray);
}

.WeeklyReviewHome_card_imgs_outer {
  height: 180px;
}
.WeeklyReviewHome_card_imgs_inner {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.WeeklyReviewHome_slider_card_main {
  background-color: var(--color-white);
  max-width: 300px;
}

.WeeklyReviewHome_card_desc_main {
  padding: 1rem;
  padding-top: 0rem;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.slick-initialized .slick-slide {
  /* display: flex !important;
  justify-content: center !important; */
}
.center {
  display: flex !important;
  justify-content: center !important;
}

.slick-track {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 1440px) {
  .WeeklyReviewHome_slider_card_main {
    /* max-width: 250px; */
  }
}
@media screen and (max-width: 1140px) {
  .WeeklyReviewHome_slider_card_main {
    /* max-width: 350px; */
  }
}
@media screen and (max-width: 1000px) {
  .WeeklyReviewHome_slider_card_main {
    /* max-width: 100%; */
  }
}
