.ContactPage_main {
  margin: 0 auto;
  max-width: 1140px;
}

.contactpage_form_main {
  margin: 0 auto;
  max-width: 1140px;
  padding: 3rem 0;
}

.contactpage_form_inner {
  display: flex;
  gap: 1rem;
}

.contactpage_form_text_inner {
  width: 100%;
  padding: 1rem;
  font-size: 18px;
  border: solid 2px;
  border-radius: 10px;
}

.contactpage_form_textarea_main {
  /* width: 100%; */
  padding-top: 2rem;
}
.contactpage_form_textarea_inner {
  width: 100%;
  font-size: 18px;
  padding: 1rem;
  height: 200px;
  border: solid 2px;
  border-radius: 10px;
}

.contactinfomain {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding-bottom: 3rem;
}

.contactinfomain_Address,
.contactinfomain_getintouch {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 270px;
}

.contactinfomain_Phone,
.contactinfomain_Email {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 270px;
}

@media screen and (max-width: 1150px) {
  .contactinfomain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 2rem;
    gap: 2rem;
  }

  .contactinfomain_Address,
  .contactinfomain_getintouch {
    min-width: 100%;
  }

  .contactinfomain_Phone,
  .contactinfomain_Email {
    min-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .contactinfomain {
    display: grid;
    grid-template-columns: 1fr;
  }
}